<a href="https://colab.research.google.com/github/jaswanthmathan/project/blob/main/Jaswanth_Day13_Diy_solution_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program with two DataFrames, with columns “name” and “age”.
Now, combine both the DataFrames vertically using the concat() function,
without the duplicate rows, and print the final DataFrame.

In [ ]:
import pandas as pd
#create df1

df1 = pd.DataFrame({  'name': ['shubham','adin','rahul'],    'age': [23,28,30]})
display(df1)

      name  age
0  shubham   23
1     adin   28
2    rahul   30

In [ ]:
# create df2 
df2 = pd.DataFrame({  'name': ['amrit','shubham','ali'],    'age': [20,23,28]})
display(df2)

      name  age
0    amrit   20
1  shubham   23
2      ali   28

In [ ]:
#final dataframe
final_df = pd.concat([df1, df2],ignore_index=True).drop_duplicates()

d=final_df.reset_index(drop=True)

# final DataFrame
display(final_df)

      name  age
0  shubham   23
1     adin   28
2    rahul   30
3    amrit   20
5      ali   28

Write a Python program to create two DataFrames. First DataFrame with
columns “employee” and “department,” Second DataFrame with columns
“employee” and “joining_date,” and Perform the following tasks:
1. Merge the DataFrames based on the “employee” column
2. Display the final DataFrame with employees records who are working in the
“Engineering” department

In [ ]:
#import pandas as pd

# create dfa
dfa = pd.DataFrame({"employee": ["Bob", "jake", "lisa", "sue","john","Daisy"], 
                    "department": ["Accounting","Engineering", "Engineering","HR", "Engineering", "Engineering"]})
display(dfa)

  employee   department
0      Bob   Accounting
1     jake  Engineering
2     lisa  Engineering
3      sue           HR
4     john  Engineering
5    Daisy  Engineering

In [ ]:
#create dfb

dfb = pd.DataFrame({  "employee": ["lisa", "Bob", "jake", "sue","john","Daisy"],
   "joining_date": ["2004", "2008", "2012", "2022","2021","2020"]
})
display(dfb)

  employee joining_date
0     lisa         2004
1      Bob         2008
2     jake         2012
3      sue         2022
4     john         2021
5    Daisy         2020

In [ ]:
merged_df = pd.merge(dfa, dfb, on="employee")
display(merged_df)

  employee   department joining_date
0      Bob   Accounting         2008
1     jake  Engineering         2012
2     lisa  Engineering         2004
3      sue           HR         2022
4     john  Engineering         2021
5    Daisy  Engineering         2020

In [ ]:
engineering_df = merged_df[merged_df["department"] == "Engineering"]
display(engineering_df)

  employee   department joining_date
1     jake  Engineering         2012
2     lisa  Engineering         2004
4     john  Engineering         2021
5    Daisy  Engineering         2020